[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
# for black
allow_prereleases = true

[scripts]
test = "pytest tests tests/sample.py"
format = "black ."

[packages]

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.8"
